#splash{padding-bottom:0;width:100%;position:relative;overflow:hidden;}
#splash ul{margin-bottom:0;}
#splash_main{width:100%;height:400px;list-style:none;}
#splash_main li{<?=$_ITE->css->calc('width','100% - 40px')?><?=$_ITE->css->border_radius(0)?>height:340px;<?=$_ITE->css->transition('none')?>list-style:none;display:none;position:absolute;left:0;top:0;overflow:hidden;background-repeat:no-repeat;background-position:bottom right;padding:20px 20px 40px;border-bottom:1px solid #ddd;}
#splash_main li:first-child{display:block;background-image:url(/img/splash/splash.jpg);}
#splash_main li:nth-child(2){background-image:url(/img/splash/splash2.jpg);color:#eeeeee;}
#splash_main li.networking{background-image:url(/img/splash/splash3.jpg);color:#dedede;}
#splash_main li.networking h1{margin-left:15px;}
#splash_main li.networking h2{margin-left:15px;}

#splash_main h1{display:block;width:100%;color:#ffffff;margin:0;font-size:2.3em;line-height:1.1em;text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);font-weight:600;letter-spacing:-2px;}
#splash_main h2{display:block;width:100%;color:#ffffff;font-size:1.6em;font-weight:400;margin-bottom:20px;text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);}
#splash_main p{font-size:1.3em;padding-left:20px;width:400px;margin-bottom:15px;line-height:1.5em;}
#splash_main .btn{margin-top: 20px;font-size:1em;line-height:1.5em;<?=$_ITE->css->transition()?>font-weight:700;}
#splash_main .btn:hover{<?=$_ITE->css->linear_gradient('#FF8E01','#EA8201')?>border:1px solid #DA7901;color:#fff;text-shadow:0px 1px 1px rgba(0, 0, 0, 0.75);}
#splash_main span.li{display:block;margin-left:20px;/*text-indent:22px;*//*background:url(/img/bullet_hex2.png) left center no-repeat transparent;*/}
#splash_main .bullet{margin-right:6px;vertical-align:middle;-moz-animation:rotation1 3s linear infinite;-o-animation:rotation1 3s linear infinite;-webkit-animation:rotation1 3s linear infinite;animation:rotation1 3s linear infinite;}
#splash_nav{width:100%;position:relative;float:left;text-align:center;min-height:18px;margin:10px 0 0;}
#splash_nav li{display:inline-block;width:8px;<?=$_ITE->css->transition('none')?>height:8px;border-radius:4px;background-color:#ccc;margin:5px;cursor:pointer;}
#splash_nav li:hover{background-color:#777;}
#splash_nav li.active{background-color:#F39505;}